USE [master]
GO
/****** Object:  Database [electricity_household]    Script Date: 6/3/2026 4:27:18 PM ******/
CREATE DATABASE [electricity_household]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'electricity_household', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\electricity_household.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'electricity_household_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\electricity_household_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [electricity_household].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [electricity_household]
GO
/****** Object:  Table [dbo].[alat_elektronik]    Script Date: 6/3/2026 4:27:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alat_elektronik](
	[alat_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[nama_alat] [nvarchar](100) NOT NULL,
	[jumlah] [int] NOT NULL,
	[daya_watt] [int] NOT NULL,
	[jam_default_per_hari] [decimal](5, 2) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[alat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pemakaian_harian]    Script Date: 6/3/2026 4:27:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pemakaian_harian](
	[pemakaian_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[alat_id] [int] NULL,
	[tanggal] [date] NOT NULL,
	[jam_aktual] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pemakaian_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_konsumsi_harian]    Script Date: 6/3/2026 4:27:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 5. VIEW v_konsumsi_harian (menghitung kWh otomatis dari pemakaian_harian)
CREATE VIEW [dbo].[v_konsumsi_harian] AS
SELECT 
    ph.user_id,
    ph.tanggal,
    SUM(ae.jumlah * ae.daya_watt * ph.jam_aktual / 1000.0) AS konsumsi_kWh
FROM pemakaian_harian ph
JOIN alat_elektronik ae ON ph.alat_id = ae.alat_id
GROUP BY ph.user_id, ph.tanggal;
GO
/****** Object:  Table [dbo].[prediksi]    Script Date: 6/3/2026 4:27:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prediksi](
	[prediksi_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[bulan_target] [int] NOT NULL,
	[tahun_target] [int] NOT NULL,
	[prediksi_kWh] [decimal](10, 2) NOT NULL,
	[metode] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[prediksi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rekomendasi]    Script Date: 6/3/2026 4:27:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rekomendasi](
	[rekomendasi_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[teks_rekomendasi] [nvarchar](500) NOT NULL,
	[tanggal] [datetime] NULL,
	[sudah_diterapkan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[rekomendasi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tagihan]    Script Date: 6/3/2026 4:27:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tagihan](
	[tagihan_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[bulan] [int] NOT NULL,
	[tahun] [int] NOT NULL,
	[konsumsi_kWh] [decimal](10, 2) NOT NULL,
	[biaya] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[tagihan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarif_listrik]    Script Date: 6/3/2026 4:27:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarif_listrik](
	[tarif_id] [int] IDENTITY(1,1) NOT NULL,
	[daya_va] [int] NOT NULL,
	[tarif_per_kwh] [decimal](12, 2) NOT NULL,
	[berlaku_dari] [date] NOT NULL,
	[berlaku_sampai] [date] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[tarif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/3/2026 4:27:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NULL,
	[role] [nvarchar](100) NULL,
	[daya_terpasang] [int] NOT NULL,
	[jumlah_penghuni] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [password_hash], [email], [role], [daya_terpasang], [jumlah_penghuni], [created_at]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'yulipk@gmail.com', N'admin', 1, 5, CAST(N'2026-06-01T17:15:40.763' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [CHK_unik_pemakaian]    Script Date: 6/3/2026 4:27:18 PM ******/
ALTER TABLE [dbo].[pemakaian_harian] ADD  CONSTRAINT [CHK_unik_pemakaian] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[alat_id] ASC,
	[tanggal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CHK_Bulan_Tahun]    Script Date: 6/3/2026 4:27:18 PM ******/
ALTER TABLE [dbo].[tagihan] ADD  CONSTRAINT [CHK_Bulan_Tahun] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[bulan] ASC,
	[tahun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57244A80E66]    Script Date: 6/3/2026 4:27:18 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alat_elektronik] ADD  DEFAULT ((1)) FOR [jumlah]
GO
ALTER TABLE [dbo].[alat_elektronik] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[prediksi] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rekomendasi] ADD  DEFAULT (getdate()) FOR [tanggal]
GO
ALTER TABLE [dbo].[rekomendasi] ADD  DEFAULT ((0)) FOR [sudah_diterapkan]
GO
ALTER TABLE [dbo].[tarif_listrik] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tarif_listrik] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[alat_elektronik]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[pemakaian_harian]  WITH CHECK ADD FOREIGN KEY([alat_id])
REFERENCES [dbo].[alat_elektronik] ([alat_id])
GO
ALTER TABLE [dbo].[pemakaian_harian]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[prediksi]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[rekomendasi]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[tagihan]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
USE [master]
GO
