USE [master]
GO
/****** Object:  Database [electricity_household]    Script Date: 6/9/2026 4:48:01 PM ******/
CREATE DATABASE [electricity_household]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'electricity_household', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\electricity_household.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'electricity_household_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\electricity_household_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [electricity_household].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [electricity_household]
GO
/****** Object:  Table [dbo].[alat_elektronik]    Script Date: 6/9/2026 4:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alat_elektronik](
	[alat_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[nama_alat] [nvarchar](100) NOT NULL,
	[jumlah] [int] NOT NULL,
	[daya_watt] [int] NOT NULL,
	[jam_default_per_hari] [decimal](5, 2) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[alat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pemakaian_harian]    Script Date: 6/9/2026 4:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pemakaian_harian](
	[pemakaian_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[alat_id] [int] NULL,
	[tanggal] [date] NOT NULL,
	[jam_aktual] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pemakaian_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_konsumsi_harian]    Script Date: 6/9/2026 4:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 5. VIEW v_konsumsi_harian (menghitung kWh otomatis dari pemakaian_harian)
CREATE VIEW [dbo].[v_konsumsi_harian] AS
SELECT 
    ph.user_id,
    ph.tanggal,
    SUM(ae.jumlah * ae.daya_watt * ph.jam_aktual / 1000.0) AS konsumsi_kWh
FROM pemakaian_harian ph
JOIN alat_elektronik ae ON ph.alat_id = ae.alat_id
GROUP BY ph.user_id, ph.tanggal;
GO
/****** Object:  Table [dbo].[dss_rules]    Script Date: 6/9/2026 4:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dss_rules](
	[rule_id] [int] IDENTITY(1,1) NOT NULL,
	[kode] [nvarchar](20) NOT NULL,
	[nama_aturan] [nvarchar](150) NOT NULL,
	[kondisi] [nvarchar](500) NOT NULL,
	[rekomendasi] [nvarchar](500) NOT NULL,
	[aktif] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prediksi]    Script Date: 6/9/2026 4:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prediksi](
	[prediksi_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[bulan_target] [int] NOT NULL,
	[tahun_target] [int] NOT NULL,
	[prediksi_kWh] [decimal](10, 2) NOT NULL,
	[metode] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[prediksi_biaya] [decimal](15, 2) NULL,
	[confidence_lower] [decimal](15, 2) NULL,
	[confidence_upper] [decimal](15, 2) NULL,
	[feature_snapshot] [nvarchar](max) NULL,
	[model_version] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[prediksi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rekomendasi]    Script Date: 6/9/2026 4:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rekomendasi](
	[rekomendasi_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[teks_rekomendasi] [nvarchar](500) NOT NULL,
	[tanggal] [datetime] NULL,
	[sudah_diterapkan] [bit] NULL,
	[kode] [nvarchar](20) NULL,
	[prioritas] [nvarchar](20) NULL,
	[kategori] [nvarchar](50) NULL,
	[potensi_hemat] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rekomendasi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tagihan]    Script Date: 6/9/2026 4:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tagihan](
	[tagihan_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[bulan] [int] NOT NULL,
	[tahun] [int] NOT NULL,
	[konsumsi_kWh] [decimal](10, 2) NOT NULL,
	[biaya] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[tagihan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarif_listrik]    Script Date: 6/9/2026 4:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarif_listrik](
	[tarif_id] [int] IDENTITY(1,1) NOT NULL,
	[daya_va] [int] NOT NULL,
	[tarif_per_kwh] [decimal](12, 2) NOT NULL,
	[berlaku_dari] [date] NOT NULL,
	[berlaku_sampai] [date] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[tarif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/9/2026 4:48:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NULL,
	[role] [nvarchar](100) NULL,
	[daya_terpasang] [int] NOT NULL,
	[jumlah_penghuni] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[alat_elektronik] ON 

INSERT [dbo].[alat_elektronik] ([alat_id], [user_id], [nama_alat], [jumlah], [daya_watt], [jam_default_per_hari], [created_at]) VALUES (1, 1, N'AC', 1, 550, CAST(8.00 AS Decimal(5, 2)), CAST(N'2026-06-06T15:54:09.290' AS DateTime))
INSERT [dbo].[alat_elektronik] ([alat_id], [user_id], [nama_alat], [jumlah], [daya_watt], [jam_default_per_hari], [created_at]) VALUES (2, 1, N'AC 2', 1, 700, CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-06-06T15:54:09.297' AS DateTime))
INSERT [dbo].[alat_elektronik] ([alat_id], [user_id], [nama_alat], [jumlah], [daya_watt], [jam_default_per_hari], [created_at]) VALUES (3, 2, N'AC SHARP', 1, 550, CAST(9.00 AS Decimal(5, 2)), CAST(N'2026-06-06T18:42:18.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[alat_elektronik] OFF
GO
SET IDENTITY_INSERT [dbo].[dss_rules] ON 

INSERT [dbo].[dss_rules] ([rule_id], [kode], [nama_aturan], [kondisi], [rekomendasi], [aktif], [created_at], [updated_at]) VALUES (1, N'R1', N'Daya kecil', N'Daya <= 900 VA', N'Hindari menggunakan perangkat tinggi watt secara bersamaan untuk mencegah mati listrik.', 1, CAST(N'2026-06-05T20:11:13.373' AS DateTime), CAST(N'2026-06-05T20:11:13.373' AS DateTime))
INSERT [dbo].[dss_rules] ([rule_id], [kode], [nama_aturan], [kondisi], [rekomendasi], [aktif], [created_at], [updated_at]) VALUES (2, N'R2', N'Daya besar', N'Daya >= 1300 VA', N'Pertimbangkan mengganti AC dan kulkas dengan varian inverter yang lebih hemat energi.', 1, CAST(N'2026-06-05T20:11:13.390' AS DateTime), CAST(N'2026-06-05T20:11:13.390' AS DateTime))
INSERT [dbo].[dss_rules] ([rule_id], [kode], [nama_aturan], [kondisi], [rekomendasi], [aktif], [created_at], [updated_at]) VALUES (3, N'R3', N'Konsumsi melebihi rata-rata', N'Konsumsi per orang > 120 kWh/bulan', N'Lakukan audit peralatan listrik karena konsumsi di atas rata-rata rumah tangga sejenis.', 1, CAST(N'2026-06-05T20:11:13.393' AS DateTime), CAST(N'2026-06-05T20:11:13.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[dss_rules] OFF
GO
SET IDENTITY_INSERT [dbo].[pemakaian_harian] ON 

INSERT [dbo].[pemakaian_harian] ([pemakaian_id], [user_id], [alat_id], [tanggal], [jam_aktual]) VALUES (1, 4, 24, CAST(N'2026-06-01' AS Date), CAST(24.00 AS Decimal(5, 2)))
INSERT [dbo].[pemakaian_harian] ([pemakaian_id], [user_id], [alat_id], [tanggal], [jam_aktual]) VALUES (2, 4, 23, CAST(N'2026-06-01' AS Date), CAST(0.50 AS Decimal(5, 2)))
INSERT [dbo].[pemakaian_harian] ([pemakaian_id], [user_id], [alat_id], [tanggal], [jam_aktual]) VALUES (3, 4, 22, CAST(N'2026-06-01' AS Date), CAST(4.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[pemakaian_harian] OFF
GO
SET IDENTITY_INSERT [dbo].[prediksi] ON 

SET IDENTITY_INSERT [dbo].[prediksi] OFF
GO
SET IDENTITY_INSERT [dbo].[rekomendasi] ON 

INSERT [dbo].[rekomendasi] ([rekomendasi_id], [user_id], [teks_rekomendasi], [tanggal], [sudah_diterapkan], [kode], [prioritas], [kategori], [potensi_hemat]) VALUES (1, 5, N'Hindari menggunakan perangkat tinggi watt seperti setrika, pompa air, dispenser, dan magicom secara bersamaan untuk mencegah listrik turun atau mati.', CAST(N'2026-06-09T00:11:07.833' AS DateTime), 0, N'R1', N'tinggi', N'daya', CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[rekomendasi] ([rekomendasi_id], [user_id], [teks_rekomendasi], [tanggal], [sudah_diterapkan], [kode], [prioritas], [kategori], [potensi_hemat]) VALUES (2, 5, N'Cabut charger, TV, rice cooker, dan perangkat elektronik lain saat tidak digunakan karena mode standby tetap menggunakan listrik.', CAST(N'2026-06-09T00:11:07.840' AS DateTime), 0, N'R9', N'rendah', N'default', CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[rekomendasi] ([rekomendasi_id], [user_id], [teks_rekomendasi], [tanggal], [sudah_diterapkan], [kode], [prioritas], [kategori], [potensi_hemat]) VALUES (3, 4, N'Pertimbangkan menggunakan perangkat hemat energi seperti AC inverter, kulkas inverter, dan lampu LED untuk menekan konsumsi listrik.', CAST(N'2026-06-09T00:12:07.187' AS DateTime), 0, N'R2', N'sedang', N'daya', CAST(0.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[rekomendasi] OFF
GO
SET IDENTITY_INSERT [dbo].[tagihan] ON 

INSERT [dbo].[tagihan] ([tagihan_id], [user_id], [bulan], [tahun], [konsumsi_kWh], [biaya]) VALUES (1, 4, 6, 2026, CAST(348.94 AS Decimal(10, 2)), CAST(512000.00 AS Decimal(15, 2)))
INSERT [dbo].[tagihan] ([tagihan_id], [user_id], [bulan], [tahun], [konsumsi_kWh], [biaya]) VALUES (2, 4, 5, 2026, CAST(339.40 AS Decimal(10, 2)), CAST(498000.00 AS Decimal(15, 2)))
INSERT [dbo].[tagihan] ([tagihan_id], [user_id], [bulan], [tahun], [konsumsi_kWh], [biaya]) VALUES (3, 4, 4, 2026, CAST(344.17 AS Decimal(10, 2)), CAST(505000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[tagihan] OFF
GO
SET IDENTITY_INSERT [dbo].[tarif_listrik] ON 

INSERT [dbo].[tarif_listrik] ([tarif_id], [daya_va], [tarif_per_kwh], [berlaku_dari], [berlaku_sampai], [created_at], [updated_at]) VALUES (1, 450, CAST(415.00 AS Decimal(12, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), CAST(N'2026-06-06T16:38:45.090' AS DateTime), CAST(N'2026-06-06T16:38:45.090' AS DateTime))
INSERT [dbo].[tarif_listrik] ([tarif_id], [daya_va], [tarif_per_kwh], [berlaku_dari], [berlaku_sampai], [created_at], [updated_at]) VALUES (2, 900, CAST(586.00 AS Decimal(12, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), CAST(N'2026-06-06T16:42:07.813' AS DateTime), CAST(N'2026-06-06T16:42:07.813' AS DateTime))
INSERT [dbo].[tarif_listrik] ([tarif_id], [daya_va], [tarif_per_kwh], [berlaku_dari], [berlaku_sampai], [created_at], [updated_at]) VALUES (3, 1300, CAST(1467.28 AS Decimal(12, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), CAST(N'2026-06-06T16:42:32.423' AS DateTime), CAST(N'2026-06-06T16:42:46.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[tarif_listrik] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [password_hash], [email], [role], [daya_terpasang], [jumlah_penghuni], [created_at]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'yulipk@gmail.com', N'admin', 1300, 5, CAST(N'2026-06-01T17:15:40.763' AS DateTime))
INSERT [dbo].[users] ([user_id], [username], [password_hash], [email], [role], [daya_terpasang], [jumlah_penghuni], [created_at]) VALUES (2, N'yulia', N'1bdc62dfa052e816078946dfe6f6fd062c69f438193a74dbb0273819315ba802', N'yulipk@gmail.com', N'end_user', 900, 5, CAST(N'2026-06-05T20:19:56.003' AS DateTime))
INSERT [dbo].[users] ([user_id], [username], [password_hash], [email], [role], [daya_terpasang], [jumlah_penghuni], [created_at]) VALUES (3, N'pipka', N'38e07e049e051a2697bf8f84f0c94a45f35f917984c76b1de55b6e2e2bffa471', N'yulipipk@gmail.com', N'end_user', 3500, 5, CAST(N'2026-06-07T23:48:50.183' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__dss_rule__25A874925175822D]    Script Date: 6/9/2026 4:48:02 PM ******/
ALTER TABLE [dbo].[dss_rules] ADD UNIQUE NONCLUSTERED 
(
	[kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CHK_unik_pemakaian]    Script Date: 6/9/2026 4:48:02 PM ******/
ALTER TABLE [dbo].[pemakaian_harian] ADD  CONSTRAINT [CHK_unik_pemakaian] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[alat_id] ASC,
	[tanggal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CHK_Bulan_Tahun]    Script Date: 6/9/2026 4:48:02 PM ******/
ALTER TABLE [dbo].[tagihan] ADD  CONSTRAINT [CHK_Bulan_Tahun] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[bulan] ASC,
	[tahun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57244A80E66]    Script Date: 6/9/2026 4:48:02 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alat_elektronik] ADD  DEFAULT ((1)) FOR [jumlah]
GO
ALTER TABLE [dbo].[alat_elektronik] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[dss_rules] ADD  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[dss_rules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[dss_rules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[prediksi] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rekomendasi] ADD  DEFAULT (getdate()) FOR [tanggal]
GO
ALTER TABLE [dbo].[rekomendasi] ADD  DEFAULT ((0)) FOR [sudah_diterapkan]
GO
ALTER TABLE [dbo].[rekomendasi] ADD  DEFAULT ((0)) FOR [potensi_hemat]
GO
ALTER TABLE [dbo].[tarif_listrik] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tarif_listrik] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[alat_elektronik]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[pemakaian_harian]  WITH CHECK ADD FOREIGN KEY([alat_id])
REFERENCES [dbo].[alat_elektronik] ([alat_id])
GO
ALTER TABLE [dbo].[pemakaian_harian]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[prediksi]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[rekomendasi]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[tagihan]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
USE [master]
GO
