blinker==1.9.0
click==8.4.1
colorama==0.4.6
Flask==2.3.3
Flask-Cors==4.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
narwhals==2.22.1
numpy==1.26.4
pandas==3.0.3
PyJWT==2.13.0
pyodbc==5.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2026.2
scikit-learn==1.6.1
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2026.2
Werkzeug==3.1.8
xgboost==3.2.0
